@import "nav.css";

.body {
    margin: 0px;
}

h2 {
    margin-left: 10px;
}

.form {
    margin-left: 10px;
    width: 40%;
}

.formFlex {
    display: flex;
    flex-direction: column;
}

.fieldsetFlex {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#main {
    
}